<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Ingredient creator</div>

                <div class="card-body">
                    <form v-on:submit.prevent="saveIngredient">
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input v-model="ingredient.name" type="text" class="form-control" id="inputName"
                                       placeholder="Name of the ingredient">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
                            <div class="col-sm-10">
                                <input v-model="ingredient.price" type="text" class="form-control" id="inputPrice"
                                       placeholder="Price of the ingredient">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Create
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="alert alert-success" role="alert" v-show="created">
                        Ingredient created correctly!
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {Ingredient} from './../models/Ingredient'

    export default {
        data: function () {
            return {
                ingredient: {
                    name: '',
                    price: null
                },
                created: false
            }
        },
        methods: {
            saveIngredient: function () {
                let comp = this;
                let ingredient = new Ingredient(this.ingredient.name, this.ingredient.price);
                ingredient.save().then(response => {
                    if (response) {
                        comp.created = true;
                        setTimeout(() => {
                            comp.created = false;
                            comp.ingredient.name = '';
                            comp.ingredient.price = null;
                        }, 3000)
                    }
                }).catch(error => {
                    // Catch reject
                });

                return false;
            }
        }
    }
</script>