<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Pizzas creator</div>

                <div class="card-body">
                    <form v-on:submit.prevent="savePizza">
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input v-model="pizza.name" type="text" class="form-control" id="inputName"
                                       placeholder="Name of the Pizza">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputIngredients" class="col-sm-2 col-form-label">Ingredients</label>
                            <div class="col-sm-10">
                                <div class="form-check" v-for="item in ingredients" :key="item.id">
                                    <input v-bind:id="`inputIngredient${item.id}`" type="checkbox"
                                           :value="item.id"
                                           v-on:change="handleIngredients($event, item)"
                                           v-model="pizza.ingredients">
                                    <label class="form-check-label" v-bind:for="`inputIngredient${item.id}`">
                                        {{ item.name }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputSellingPrice" class="col-sm-2 col-form-label">Selling Price</label>
                            <div class="col-sm-10">
                                <input v-model="pizza.selling_price" readonly type="text" class="form-control"
                                       id="inputSellingPrice"
                                       placeholder="Selling price of the Pizza">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">{{ (pizza.id == 0 ? "Create":"Save") }}
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="alert alert-success" role="alert" v-show="created">
                        Pizza created correctly!
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {Pizza} from './../models/Pizza'
    import {Ingredient} from './../models/Ingredient'

    export default {
        data: function () {
            return {
                ingredients: [],
                pizza: {
                    id: 0,
                    name: '',
                    ingredients:
                        [],
                    selling_price:
                        0
                },
                total_sum: 0,
                created: false
            }
        },
        props: ['update_pizza'],
        mounted: function () {
            Ingredient.getAll().then(all_ingredients => {
                if (all_ingredients !== false) {
                    this.ingredients = all_ingredients;
                }
            });
        },
        created: function () {
            if (typeof this.update_pizza !== "undefined") {
                let comp = this;
                this.pizza.id = this.update_pizza.id;
                this.pizza.name = this.update_pizza.name;
                this.pizza.ingredients = this.update_pizza.ingredients.map(function (item, idx) {
                    comp.total_sum += parseFloat(item.price);
                    return item.id;
                });
                this.pizza.selling_price = this.update_pizza.selling_price;
            }
        },
        methods: {
            savePizza() {
                let comp = this;
                let pizza = new Pizza(this.pizza.id, this.pizza.name, this.pizza.ingredients);
                pizza.save().then(response => {
                    if (response) {
                        comp.created = true;
                        setTimeout(() => {
                            comp.created = false;
                            comp.pizza.name = '';
                            comp.pizza.ingredients = [];
                            comp.pizza.selling_price = null;
                        }, 3000)
                    }
                }).catch(error => {
                    // Catch reject
                });

                return false;
            },
            handleIngredients(e, ingredient) {
                let price = ingredient.price;

                if (event.target.checked) {
                    this.total_sum += parseFloat(price);
                } else {
                    this.total_sum -= parseFloat(price);
                }

                this.pizza.selling_price = this.total_sum + (this.total_sum * 0.5);
            }
        }
    }
</script>