<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Pizzas generator app</div>

                <div class="card-body">
                    Enjoy creating your dream pizzas!

                    <h3>List of pizzas</h3>
                    <ul>
                        <li v-for="pizza in pizzas" :key="pizza.id">
                            <router-link :to="{ name: 'create_pizza', params: {update_pizza: pizza} }">{{ pizza.name }}
                            </router-link>
                            <strong>€ {{pizza.selling_price}}</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Pizza} from './../models/Pizza'

    export default {
        data: function () {
            return {
                pizzas: []
            }
        },
        mounted() {
            console.log('Component mounted.');

            Pizza.getAll().then(all_pizzas => {
                if (all_pizzas !== false) {
                    this.pizzas = all_pizzas;
                }
            });
        }
    }
</script>
